@font-face {
  font-family: "fontello";
  src: url("/static/fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calculator:before {
  content: "\e800";
} /* '' */
.icon-lock-off:before {
  content: "\e801";
} /* '' */
.icon-articles:before {
  content: "\e802";
} /* '' */
.icon-percentage:before {
  content: "\e803";
} /* '' */
.icon-user-check:before {
  content: "\e804";
} /* '' */
.icon-search:before {
  content: "\e805";
} /* '' */
.icon-logout:before {
  content: "\e806";
} /* '' */
.icon-arrow-right:before {
  content: "\e807";
} /* '' */
.icon-menu:before {
  content: "\e808";
} /* '' */
.icon-auto-graph:before {
  content: "\e809";
} /* '' */
.icon-link:before {
  content: "\e80a";
} /* '' */
.icon-sand-clock:before {
  content: "\e80b";
} /* '' */
.icon-hyperlink:before {
  content: "\e80c";
} /* '' */
.icon-calendar:before {
  content: "\e80d";
} /* '' */
.icon-cut:before {
  content: "\e80e";
} /* '' */
.icon-inbox:before {
  content: "\e80f";
} /* '' */
.icon-id-card:before {
  content: "\e810";
} /* '' */
.icon-selfie:before {
  content: "\e811";
} /* '' */
.icon-reload:before {
  content: "\e812";
} /* '' */
.icon-edit:before {
  content: "\e813";
} /* '' */
.icon-bell:before {
  content: "\e814";
} /* '' */
.icon-browser:before {
  content: "\e815";
} /* '' */
.icon-square:before {
  content: "\e816";
} /* '' */
.icon-spiderweb:before {
  content: "\e817";
} /* '' */
.icon-arrow-left:before {
  content: "\e818";
} /* '' */
.icon-house:before {
  content: "\e819";
} /* '' */
.icon-integration:before {
  content: "\e81a";
} /* '' */
.icon-question:before {
  content: "\e81b";
} /* '' */
.icon-lock-03:before {
  content: "\e81c";
} /* '' */
.icon-add:before {
  content: "\e81d";
} /* '' */
.icon-share:before {
  content: "\e81e";
} /* '' */
.icon-chevron:before {
  content: "\e821";
} /* '' */
.icon-check-1:before {
  content: "\e823";
} /* '' */
.icon-x:before {
  content: "\e824";
} /* '' */
.icon-hands:before {
  content: "\e82c";
} /* '' */
.icon-briefcase:before {
  content: "\e82d";
} /* '' */
.icon-copy:before {
  content: "\e833";
} /* '' */
.icon-circuit:before {
  content: "\e834";
} /* '' */
.icon-envelope:before {
  content: "\e837";
} /* '' */
.icon-cog:before {
  content: "\e83a";
} /* '' */
.icon-wallet:before {
  content: "\e83b";
} /* '' */
.icon-document:before {
  content: "\e83c";
} /* '' */
.icon-discord:before {
  content: "\e83f";
} /* '' */
.icon-git:before {
  content: "\e841";
} /* '' */
.icon-medium:before {
  content: "\e842";
} /* '' */
.icon-telegram:before {
  content: "\e843";
} /* '' */
.icon-clock:before {
  content: "\e844";
} /* '' */
.icon-twitter:before {
  content: "\e845";
} /* '' */
.icon-unplug:before {
  content: "\e846";
} /* '' */
.icon-loading:before {
  content: "\e848";
} /* '' */
.icon-flag:before {
  content: "\e849";
} /* '' */
.icon-coin:before {
  content: "\e84a";
} /* '' */
.icon-coin-received:before {
  content: "\e84b";
} /* '' */
.icon-send:before {
  content: "\e84c";
} /* '' */
.icon-safe:before {
  content: "\e84d";
} /* '' */
.icon-pig:before {
  content: "\e84f";
} /* '' */
.icon-coins:before {
  content: "\e850";
} /* '' */
.icon-lock-up:before {
  content: "\e851";
} /* '' */
.icon-rocket:before {
  content: "\e853";
} /* '' */
.icon-circles:before {
  content: "\e854";
} /* '' */
.icon-lucide:before {
  content: "\e856";
} /* '' */
.icon-download:before {
  content: "\e858";
} /* '' */
.icon-compass:before {
  content: "\e859";
} /* '' */
.icon-check:before {
  content: "\e85b";
} /* '' */
.icon-x-circle:before {
  content: "\e85c";
} /* '' */
.icon-badge-check:before {
  content: "\e85d";
} /* '' */
.icon-swap:before {
  content: "\e85e";
} /* '' */
.icon-bridge:before {
  content: "\e85f";
} /* '' */
.icon-chart-stock:before {
  content: "\e861";
} /* '' */
.icon-recurring:before {
  content: "\e862";
} /* '' */
.icon-icons:before {
  content: "\e863";
} /* '' */
.icon-time-picker:before {
  content: "\e864";
} /* '' */
.icon-date-time:before {
  content: "\e865";
} /* '' */
.icon-submit-document:before {
  content: "\e866";
} /* '' */
.icon-qr:before {
  content: "\e867";
} /* '' */
.icon-trophy:before {
  content: "\e868";
} /* '' */
.icon-party:before {
  content: "\e869";
} /* '' */
.icon-user:before {
  content: "\e86d";
} /* '' */
.icon-chart:before {
  content: "\e86e";
} /* '' */
.icon-badge:before {
  content: "\e86f";
} /* '' */
.icon-settings:before {
  content: "\e870";
} /* '' */
.icon-instagram:before {
  content: "\e872";
} /* '' */
.icon-facebook:before {
  content: "\e873";
} /* '' */
.icon-eye-check:before {
  content: "\e876";
} /* '' */
.icon-chat:before {
  content: "\e878";
} /* '' */
.icon-users:before {
  content: "\e879";
} /* '' */
.icon-trend:before {
  content: "\e87a";
} /* '' */
.icon-youtube:before {
  content: "\e87b";
} /* '' */
.icon-campaigns:before {
  content: "\e87c";
} /* '' */
.icon-arrows:before {
  content: "\e87d";
} /* '' */
.icon-map:before {
  content: "\e87e";
} /* '' */
.icon-women:before {
  content: "\e87f";
} /* '' */
.icon-men:before {
  content: "\e880";
} /* '' */
.icon-filter:before {
  content: "\e881";
} /* '' */
.icon-upload:before {
  content: "\e882";
} /* '' */
.icon-add-user:before {
  content: "\e883";
} /* '' */
.icon-clouds:before {
  content: "\e884";
} /* '' */
.icon-pointer:before {
  content: "\e885";
} /* '' */
.icon-star:before {
  content: "\e886";
} /* '' */
.icon-bubbles:before {
  content: "\e887";
} /* '' */
.icon-chart-alt:before {
  content: "\e888";
} /* '' */
.icon-time:before {
  content: "\e889";
} /* '' */
.icon-scroll:before {
  content: "\e88a";
} /* '' */
.icon-send-mail:before {
  content: "\e88b";
} /* '' */
.icon-hand-love:before {
  content: "\e88c";
} /* '' */
.icon-camera:before {
  content: "\e88d";
} /* '' */
.icon-send-2:before {
  content: "\e88e";
} /* '' */
.icon-warning:before {
  content: "\e88f";
} /* '' */
.icon-chart-fenix:before {
  content: "\e891";
} /* '' */
.icon-arrow-curve-up:before {
  content: "\e892";
} /* '' */
.icon-refresh:before {
  content: "\e893";
} /* '' */
.icon-manage:before {
  content: "\e894";
} /* '' */
.icon-claim:before {
  content: "\e895";
} /* '' */
.icon-token-swap:before {
  content: "\e896";
} /* '' */
.icon-polygon:before {
  content: "\e897";
} /* '' */
.icon-thena:before {
  content: "\e89a";
} /* '' */
.icon-gasoline:before {
  content: "\e8a0";
} /* '' */
.icon-ray:before {
  content: "\e8a3";
} /* '' */
.icon-trade-reverse:before {
  content: "\e8a4";
} /* '' */
.icon-arrow-right-up-1:before {
  content: "\e8a5";
} /* '' */
.icon-arrow-down:before {
  content: "\e8a6";
} /* '' */
.icon-wallet-02:before {
  content: "\e8a7";
} /* '' */
.icon-alert-02:before {
  content: "\e8a8";
} /* '' */
.icon-coins-outline:before {
  content: "\e8a9";
} /* '' */
.icon-bell-02:before {
  content: "\e8aa";
} /* '' */
.icon-info:before {
  content: "\e8ab";
} /* '' */
.icon-rocket-1:before {
  content: "\e8ad";
} /* '' */
.icon-lock-up-1:before {
  content: "\e8ae";
} /* '' */
.icon-pig-1:before {
  content: "\e8af";
} /* '' */
.icon-lock:before {
  content: "\e8b0";
} /* '' */
.icon-cylinders:before {
  content: "\e8b1";
} /* '' */
.icon-roadmap:before {
  content: "\e8b2";
} /* '' */
.icon-rocket-lock:before {
  content: "\e8b3";
} /* '' */
.icon-swap-arrows:before {
  content: "\e8b4";
} /* '' */
.icon-tiktok:before {
  content: "\e8b7";
} /* '' */
.icon-x-1:before {
  content: "\e8b8";
} /* '' */
.icon-egg:before {
  content: "\e8b9";
} /* '' */
.icon-search-1:before {
  content: "\e8ba";
} /* '' */
.icon-filled-arrow:before {
  content: "\e8bb";
} /* '' */
.icon-letter:before {
  content: "\e8bc";
} /* '' */
.icon-copy-1:before {
  content: "\e8be";
} /* '' */
.icon-arrow-right-up:before {
  content: "\e8bf";
} /* '' */
.icon-telegram-1:before {
  content: "\e8c0";
} /* '' */
.icon-gitbook:before {
  content: "\e8c1";
} /* '' */
.icon-medium-1:before {
  content: "\e8c2";
} /* '' */
.icon-discord-1:before {
  content: "\e8c3";
} /* '' */
.icon-menu-1:before {
  content: "\e8c5";
} /* '' */
.icon-settings-1:before {
  content: "\e8c6";
} /* '' */
.icon-bulb:before {
  content: "\e8c8";
} /* '' */
.icon-hype-engine:before {
  content: "\e8c9";
} /* '' */
.icon-nest:before {
  content: "\e8ca";
} /* '' */
.icon-telegram-2:before {
  content: "\e8cb";
} /* '' */
.icon-accelera:before {
  content: "\e8cc";
} /* '' */
.icon-search-remove:before {
  content: "\e959";
} /* '' */
.icon-unboxing:before {
  content: "\e965";
} /* '' */
